<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Posedion</title>
    <link rel="stylesheet" href="homepage.css" />
  </head>

  <style>
    .image {
      height: 30%;
      width: 30%;
      position: static;
    }
  </style>
  <body>
    <!-- <button id="wallet" class=".enableEthereumButton">Metamask'a Bağlan</button> -->

    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <img
          class="image"
            src="posedion.png"
            onclick="connectMetamask()"
            alt=""
            
          />

          <h1 class="block-effect" style="--td: 1.2s">
            <div
              class="block-reveal"
              style="--bc: #000000; --d: 0.1s; text-align: center"
            >
              Project Posedion
            </div>
            <div class="block-reveal" style="--bc: #daba08; --d: 0.8s"></div>
          </h1>
        </div>
      </div>
    </div>

    <form id="form" action="/post/walletid" method="post">
      <input type="hidden" id="walletid" name="walletid" value="" />
    </form>
  </body>

  <script src="metamask.js"></script>
  <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
</html>
